#reg_tnx{
	margin-top: 110px;
    font-size: 20px;
}

.rx_content{
  min-height: calc(100vh - 352px);
}

#rx_activation_response{
	display:flex;
	align-items:center;
	flex-direction: column;
	font-size:30px;
	padding-top: 150px;
}

#rec_pwd_inp
{
    margin-bottom: 10px;
}

#new_pwd_btm
{
    margin-bottom: 20px;
}

.btn
{
    outline:none;
}
