#reg_tnx{
	margin-top: 110px;
	font-size: 20px;
}

.rx_content{
  min-height: calc(100vh - 352px);
}

.rx_chat_content{
  min-height: calc(100vh - 102px);
}

.rx_edit_interests_content{
  min-height: calc(100vh - 462px);
}

.rx_cursor_default{
    cursor: default;
}

#rx_activation_response{
	display:flex;
	align-items:center;
	flex-direction: column;
	font-size:30px;
	padding-top: 150px;
}

#rec_pwd_inp
{
	margin-bottom: 10px;
}

#new_pwd_btm
{
	margin-bottom: 20px;
}

.btn
{
    outline:none !important;
}

.scrollbar-wrapper.tab-content {
	overflow-y: auto;
	height: 700px;
}

.timeline-cover .timeline-nav-bar .follow-me li:first-child {
	padding: 13px 15px;
}

.btn-my{
	padding: 7px 25px;
	border: none;
	font-size: 14px;
	position: relative;
	font-weight: 600;
	outline: none;
	border-radius: 30px;
}

.all_comments {
	margin-left: 30px;
}

.post-content .post-container .post-detail .post-comment {
	position: relative;
}

.dell {
	position: absolute;
	top: 0;
	right: 0;
}
#notification_red{
   color: #dcb5b5f5;
}

#notif_horn
{
    margin-right: 5px;
    color: red;
}

.edit-map {
    height: 400px;
}