{% extends "base.html" %}
{% block title %}Edit Profile {{ data.user.first_name }} {{ data.user.last_name }} | Change My Password - Matcha 40k{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}
{% block main %}
	<div class="container rx_chat_content">

	  <!-- Timeline
	  ================================================= -->
	  <div class="timeline">
			{% include('parts/header_bottom.html') %}
		<div id="page-contents">
		  <div class="row">
			<div class="col-md-3">
				{% include "parts/edit_left_sidebar.html" %}
			</div>
			<div class="col-md-7">

			  <!-- Change Password
			  ================================================= -->
			  <div class="edit-profile-container">
				<div class="block-title">
				  <h4 class="grey"><i class="icon ion-ios-locked-outline"></i>Change Password</h4>
				  <div class="line"></div>
				  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
				  <div class="line"></div>
				</div>
				<div class="edit-block">
				  <form name="update-pass" id="edit_change_password" class="form-inline">
					<div class="row">
					  <div class="form-group col-xs-12">
						<label for="my-password">Old password</label>
						<input id="my-password" class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="Old password"/>
					  </div>
					</div>
					<div class="row">
					  <div class="form-group col-xs-6">
						<label>New password</label>
						<input id="edit_new_pwd" class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="New password"/>
					  </div>
					  <div class="form-group col-xs-6">
						<label>Confirm password</label>
						<input id="edit_conf_pwd" class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="Confirm password"/>
					  </div>
					</div>

					<button class="btn btn-primary" id="edit_change_pwd_btn">Update Password</button>
				  </form>
				</div>
			  </div>
			</div>
			{% include "parts/suggestions.html" %}
		  </div>
		</div>
	  </div>
	</div>
{% endblock %}
