<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log in</title>
	<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
</head>
<body>

<h1>log in</h1>
<form onsubmit="login('{{ url_for('ajax_login') }}')">
    <div><input id="l_login_inp" type="text" name="name" placeholder="Login or email" maxlength="30"></div>
    <div><input id="l_pwd_inp" type="password" name="password" placeholder="Password" minlength="6" maxlength="100"></div>
	<button type="submit" id="register_btm">Log in</button>
</form>


<script src="{{ url_for('static', filename='auth.js') }}"></script>

</body>
</html>