{% extends "base.html" %}
{% block title %}Newsfeed{% endblock %}
	<!--Header End-->
{% block main %}

	<div id="page-contents" class="rx_chat_content">
		<div class="container">
			<div class="row">
			{% include "parts/left_sidebar.html" %}

			<div class="col-md-7">

			<div id="all_posts">
				<!-- Post Content
				================================================= -->
				{% for friend in data.all_friends %}
					{% for post in data.all_posts(friend.id_requester) %}
						{% set user_post = data.get_user_by_id(post.id_user_from) %}
						<div class="post-content" id="post{{ post.id_post }}">
							<div class="post-container">
								{% if post.id_user_from == session.get('id_user_logged') or post.id_user == session.get('id_user_logged') %}
									<div class="btn text-red dell" onclick="dell_post({{ post.id_post }})">X</div>
								{% endif %}
								<img src="{{ user_post.avatar }}" alt="user" class="profile-photo-md pull-left" />
								<div class="post-detail">
									<div class="user-info">
										<h5><a href="{{ url_for('profile', id_user=user_post.id_user) }}" class="profile-link">{{ user_post.first_name }} {{ user_post.last_name }}</a> <span class="following">following</span></h5>
										<p class="text-muted">Published a {{ post.type }} on a {{ post.date_creation }}</p>
									</div>
									<div class="reaction">
										{% if data.liked(session.get('id_user_logged'), post.id_post) %}
											<a class="btn" id="like{{ post.id_post }}" onclick="like({{ session.get('id_user_logged') }}, {{ post.id_post }}); return false;"><i class="icon ion-thumbsup"></i> <span>{{ data.len_post_likes(post.id_post) }}</span></a>
										{% else %}
											<a class="btn text-green" id="like{{ post.id_post }}" onclick="like({{ session.get('id_user_logged') }} , {{post.id_post }}); return false;"><i class="icon ion-thumbsup"></i> <span>{{ data.len_post_likes(post.id_post) }}</span></a>
										{% endif %}
										{% if data.disliked(session.get('id_user_logged'), post.id_post) %}
											<a class="btn" id="dislike{{ post.id_post }}" onclick="dislike({{ session.get('id_user_logged') }}, {{ post.id_post }}); return false;"><i class="fa fa-thumbs-down"></i> <span>{{ data.len_post_dislikes(post.id_post) }}</span></a>
										{% else %}
											<a class="btn text-red" id="dislike{{ post.id_post }}" onclick="dislike({{ session.get('id_user_logged') }}, {{ post.id_post }}); return false;"><i class="fa fa-thumbs-down"></i> <span>{{ data.len_post_dislikes(post.id_post) }}</span></a>
										{% endif %}
									</div>
									<div class="line-divider"></div>
									<div class="post-text">
										<p>{{ post.content }}</p>
									</div>
									<div class="line-divider"></div>
									<div id="all_comments{{ post.id_post }}" class="all_comments">
										{% for comment in data.all_post_comments(post.id_post) %}
											<div class="post-comment" id="comment{{ comment.id_comment }}">
												{% set user_comment = data.get_user_by_id(comment.id_user) %}
												<img src="{{ user_comment.avatar }}" alt="" class="profile-photo-sm" />
												<a href="{{ url_for('profile', id_user=comment.id_user) }}" class="profile-link">{{ user_comment.first_name }}</a>
												<p>&nbsp;&nbsp;{{ comment.text }}</p>
												{% if session.get('id_user_logged') and comment.id_user == session.get('id_user_logged') %}
													<div class="btn text-red dell" onclick="dell_comment({{ comment.id_comment }})">X</div>
												{% endif %}
											</div>
											<div class="line-divider" id="divider{{ comment.id_comment }}"></div>
										{% endfor %}
									</div>
									{% if session.get('user_data') %}
										<form method="post" onsubmit="add_comment(this); return false;">
											<div class="post-comment">
												<img src="{{ session.get('user_data').avatar }}" alt="" class="profile-photo-sm" />
												<input type="hidden" name="id_post" value="{{ post.id_post }}">
												<input type="text" name="comment" class="form-control" placeholder="Post a comment">
											</div>
										</form>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
					{% for post in data.all_posts(friend.id_user_requested) %}
						{% set user_post = data.get_user_by_id(post.id_user_from) %}
						<div class="post-content" id="post{{ post.id_post }}">
	{#						<img src="http://placehold.it/1920x1280" alt="post-image" class="img-responsive post-image" />#}
							<div class="post-container">
								{% if post.id_user_from == session.get('id_user_logged') or post.id_user == session.get('id_user_logged') %}
									<div class="btn text-red dell" onclick="dell_post({{ post.id_post }})">X</div>
								{% endif %}
								<img src="{{ user_post.avatar }}" alt="user" class="profile-photo-md pull-left" />
								<div class="post-detail">
									<div class="user-info">
										<h5><a href="{{ url_for('profile', id_user=user_post.id_user) }}" class="profile-link">{{ user_post.first_name }} {{ user_post.last_name }}</a> <span class="following">following</span></h5>
										<p class="text-muted">Published a {{ post.type }} on a {{ post.date_creation }}</p>
									</div>
									<div class="reaction">
										{% if data.liked(session.get('id_user_logged'), post.id_post) %}
											<a class="btn" id="like{{ post.id_post }}" onclick="like({{ session.get('id_user_logged') }}, {{ post.id_post }}); return false;"><i class="icon ion-thumbsup"></i> <span>{{ data.len_post_likes(post.id_post) }}</span></a>
										{% else %}
											<a class="btn text-green" id="like{{ post.id_post }}" onclick="like({{ session.get('id_user_logged') }} , {{post.id_post }}); return false;"><i class="icon ion-thumbsup"></i> <span>{{ data.len_post_likes(post.id_post) }}</span></a>
										{% endif %}
										{% if data.disliked(session.get('id_user_logged'), post.id_post) %}
											<a class="btn" id="dislike{{ post.id_post }}" onclick="dislike({{ session.get('id_user_logged') }}, {{ post.id_post }}); return false;"><i class="fa fa-thumbs-down"></i> <span>{{ data.len_post_dislikes(post.id_post) }}</span></a>
										{% else %}
											<a class="btn text-red" id="dislike{{ post.id_post }}" onclick="dislike({{ session.get('id_user_logged') }}, {{ post.id_post }}); return false;"><i class="fa fa-thumbs-down"></i> <span>{{ data.len_post_dislikes(post.id_post) }}</span></a>
										{% endif %}
									</div>
									<div class="line-divider"></div>
									<div class="post-text">
										<p>{{ post.content }}</p>
									</div>
									<div class="line-divider"></div>
									<div id="all_comments{{ post.id_post }}" class="all_comments">
										{% for comment in data.all_post_comments(post.id_post) %}
											<div class="post-comment" id="comment{{ comment.id_comment }}">
												{% set user_comment = data.get_user_by_id(comment.id_user) %}
												<img src="{{ user_comment.avatar }}" alt="" class="profile-photo-sm" />
												<a href="{{ url_for('profile', id_user=comment.id_user) }}" class="profile-link">{{ user_comment.first_name }}</a>
												<p>&nbsp;&nbsp;{{ comment.text }}</p>
												{% if session.get('id_user_logged') and comment.id_user == session.get('id_user_logged') %}
													<div class="btn text-red dell" onclick="dell_comment({{ comment.id_comment }})">X</div>
												{% endif %}
											</div>
											<div class="line-divider" id="divider{{ comment.id_comment }}"></div>
										{% endfor %}
									</div>
									{% if session.get('user_data') %}
										<form method="post" onsubmit="add_comment(this); return false;">
											<div class="post-comment">
												<img src="{{ session.get('user_data').avatar }}" alt="" class="profile-photo-sm" />
												<input type="hidden" name="id_post" value="{{ post.id_post }}">
												<input type="text" name="comment" class="form-control" placeholder="Post a comment">
											</div>
										</form>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		  </div>
			{% include "parts/suggestions.html" %}
			</div>
		</div>
	</div>

<!--<div class="none" id="user_login">{{session.user_data.login}}</div>-->

<div class="none" id="location">{{session.id_user_logged}}</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
<script src="{{ url_for('static', filename='js/likes.js') }}"></script>
<script src="{{ url_for('static', filename='js/make_chat.js') }}"></script>

{% if not session.location %}
<script src="{{ url_for('static', filename='js/get_location.js') }}"></script>
{% endif %}

{% endblock %}