<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
</head>
<body>

<h1>Registrarion</h1>
<form onsubmit="register('{{ url_for('ajax_registration') }}')">
    <div><input id="r_email_inp" type="email" name="email" placeholder="Email" maxlength="200"></div>
    <div><input id="r_login_inp" type="text" name="name" placeholder="Login" maxlength="30"></div>
    <div><input id="r_pwd_inp" type="password" name="password" placeholder="Password" minlength="6" maxlength="100"></div>
	<button type="submit" id="register_btm">Register</button>
</form>


<script src="{{ url_for('static', filename='auth.js') }}"></script>

</body>
</html>
