{% extends "base.html" %}
{% block title %}{{ data.user.first_name }} {{ data.user.last_name }} - Matcha 40k{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/users.js') }}"></script>
	<script src="{{ url_for('static', filename='js/posts.js') }}"></script>
	<script src="{{ url_for('static', filename='js/comments.js') }}"></script>
	<script src="{{ url_for('static', filename='js/likes.js') }}"></script>
{% endblock %}
{% block main %}
	<div class="container rx_chat_content">

	  <!-- Timeline
	  ================================================= -->
	  <div class="timeline">
		{% include('parts/header_bottom.html') %}
		<div id="page-contents" >
			<div class="row">
				<div class="col-md-3"></div>
				{% if session.get('user_data') %}
					<div class="col-md-7">
				{% else %}
					<div class="col-md-9">
				{% endif %}
				<!-- Post Create Box
				================================================= -->
				<div class="create-post">
					{% if session.get('user_data') %}
						<form id="create_post" name="create_post" method="post" onsubmit="create_post_action(this);return false;">
							<div class="row">
							  <div class="col-md-9 col-sm-9">
								<div class="form-group">
									<img src="{{ data.user_cur.avatar }}" alt="" class="profile-photo-md" />
									<textarea name="content" id="content" cols="50" rows="2" class="form-control" placeholder="Write what you wish"></textarea>
								</div>
							  </div>
							  <div class="col-md-3 col-sm-3">
								<div class="tools">
								  <button type="submit" class="btn btn-primary pull-right">Publish</button>
								</div>
							  </div>
							</div>
						</form>
					{% endif %}
				</div><!-- Post Create Box End-->

				<div id="all_posts">
					<!-- Post Content
					================================================= -->
					{% for post in data.posts %}
						{% set user_post = data.get_user_by_id(post.id_user_from) %}
						<div class="post-content" id="post{{ post.id_post }}">
							<!--Post Date-->
							<div class="post-date hidden-xs hidden-sm">

								<h5>{{ user_post.first_name }}</h5>
								<p class="text-grey">{{ post.date_creation.split(' ')[0] }}</p>

							</div><!--Post Date End-->
{#							<img src="http://placehold.it/1920x1280" alt="post-image" class="img-responsive post-image" />#}
							<div class="post-container">
								{% if session.get('id_user_logged') and (post.id_user_from == session.get('id_user_logged') or post.id_user == session.get('id_user_logged')) %}
									<div class="btn text-red dell" onclick="dell_post({{ post.id_post }})">X</div>
								{% endif %}
								<img src="{{ user_post.avatar }}" alt="user" class="profile-photo-md pull-left" />
								<div class="post-detail">
									<div class="user-info">
										<h5><a href="{{ url_for('profile', id_user=user_post.id_user) }}" class="profile-link">{{ user_post.first_name }} {{ user_post.last_name }}</a> <span class="following">following</span></h5>
										<p class="text-muted">Published a {{ post.type }} on a {{ post.date_creation.split(' ')[1] }}</p>
									</div>
									<div class="reaction">
										{% if session.get('id_user_logged') and data.liked(session.get('id_user_logged'), post.id_post) %}
											<a class="btn" id="like{{ post.id_post }}" onclick="like({{ session.get('id_user_logged') }}, {{ post.id_post }}); return false;"><i class="icon ion-thumbsup"></i> <span>{{ data.len_post_likes(post.id_post) }}</span></a>
										{% elif not session.get('id_user_logged') %}
											<a class="btn text-green" id="like{{ post.id_post }}" onclick="return false;"><i class="icon ion-thumbsup"></i> <span>{{ data.len_post_likes(post.id_post) }}</span></a>
										{% else %}
											<a class="btn text-green" id="like{{ post.id_post }}" onclick="like({{ session.get('id_user_logged') }} , {{post.id_post }}); return false;"><i class="icon ion-thumbsup"></i> <span>{{ data.len_post_likes(post.id_post) }}</span></a>
										{% endif %}
										{% if session.get('id_user_logged') and data.disliked(session.get('id_user_logged'), post.id_post) %}
											<a class="btn" id="dislike{{ post.id_post }}" onclick="dislike({{ session.get('id_user_logged') }}, {{ post.id_post }}); return false;"><i class="fa fa-thumbs-down"></i> <span>{{ data.len_post_dislikes(post.id_post) }}</span></a>
										{% elif not session.get('id_user_logged') %}
											<a class="btn text-red" id="dislike{{ post.id_post }}" onclick="return false;"><i class="fa fa-thumbs-down"></i> <span>{{ data.len_post_dislikes(post.id_post) }}</span></a>
										{% else %}
											<a class="btn text-red" id="dislike{{ post.id_post }}" onclick="dislike({{ session.get('id_user_logged') }}, {{ post.id_post }}); return false;"><i class="fa fa-thumbs-down"></i> <span>{{ data.len_post_dislikes(post.id_post) }}</span></a>
										{% endif %}
									</div>
									<div class="line-divider"></div>
									<div class="post-text">
										<p>{{ post.content }}</p>
									</div>
									<div class="line-divider"></div>
									<div id="all_comments{{ post.id_post }}" class="all_comments">
										{% for comment in data.all_post_comments(post.id_post) %}
											<div class="post-comment" id="comment{{ comment.id_comment }}">
												{% set user_comment = data.get_user_by_id(comment.id_user) %}
												<img src="{{ user_comment.avatar }}" alt="" class="profile-photo-sm" />
												<a href="{{ url_for('profile', id_user=comment.id_user) }}" class="profile-link">{{ user_comment.first_name }}</a>
												<p>&nbsp;&nbsp;{{ comment.text }}</p>
												{% if session.get('id_user_logged') and comment.id_user == session.get('id_user_logged') %}
													<div class="btn text-red dell" onclick="dell_comment({{ comment.id_comment }})">X</div>
												{% endif %}
											</div>
											<div class="line-divider" id="divider{{ comment.id_comment }}"></div>
										{% endfor %}
									</div>
									{% if session.get('user_data') %}
										<form method="post" onsubmit="add_comment(this); return false;">
											<div class="post-comment">
												<img src="{{ session.get('user_data').avatar }}" alt="" class="profile-photo-sm" />
												<input type="hidden" name="id_post" value="{{ post.id_post }}">
												<input type="text" name="comment" class="form-control" placeholder="Post a comment">
											</div>
										</form>
									{% endif %}
								</div>
							</div>
						</div>
					{% else %}
						<div class="post-content" id="no_posts">
							<div class="post-container">
								<div class="post-detail">
									<div class="post-text">
										<p>No posts.</p>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{% if session.get('user_data') %}
				{% include "parts/suggestions.html" %}
			{% endif %}

		  </div>
		</div>
	  </div>
	</div>

{% endblock %}
