{% extends "base.html" %}
{% block title %}{{ data.user.first_name }} {{ data.user.last_name }} - Matcha 40k{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/users.js') }}"></script>
	<script src="{{ url_for('static', filename='js/posts.js') }}"></script>
{% endblock %}
{% block main %}
	<div class="container">

	  <!-- Timeline
	  ================================================= -->
	  <div class="timeline">
		{% include('parts/header_bottom.html') %}
		<div id="page-contents">
			<div class="row">
				<div class="col-md-3"></div>
				{% if session.get('user_data') %}
					<div class="col-md-7">
				{% else %}
					<div class="col-md-9">
				{% endif %}
				<!-- Post Create Box
				================================================= -->
				<div class="create-post">
					{% if session.get('user_data') %}
						<form id="create_post" name="create_post" method="post" onsubmit="create_post_action(this);return false;">
							<div class="row">
							  <div class="col-md-7 col-sm-7">
								<div class="form-group">
									<img src="{{ data.user_cur.avatar }}" alt="" class="profile-photo-md" />
									<textarea name="content" id="content" cols="50" rows="2" class="form-control" placeholder="Write what you wish"></textarea>
								</div>
							  </div>
							  <div class="col-md-5 col-sm-5">
								<div class="tools">
								  <ul class="publishing-tools list-inline">
									<li><a href="#"><i class="ion-compose"></i></a></li>
									<li><a href="#"><i class="ion-images"></i></a></li>
									<li><a href="#"><i class="ion-ios-videocam"></i></a></li>
								  </ul>
								  <button type="submit" class="btn btn-primary pull-right">Publish</button>
								</div>
							  </div>
							</div>
						</form>
					{% endif %}
				</div><!-- Post Create Box End-->

				<div id="all_posts">
					<!-- Post Content
					================================================= -->
					{% for post in data.posts %}
						<div class="post-content">
							<!--Post Date-->
							<div class="post-date hidden-xs hidden-sm">
								<h5>{{ data.get_by_id(post.id_user_from).first_name }}</h5>
								<p class="text-grey">{{ post.date_creation.split(" ")[0] }}</p>
							</div><!--Post Date End-->
	{#						<img src="http://placehold.it/1920x1280" alt="post-image" class="img-responsive post-image" />#}
							<div class="post-container">
								<img src="{{ data.get_by_id(post.id_user_from).avatar }}" alt="user" class="profile-photo-md pull-left" />
								<div class="post-detail">
									<div class="user-info">
										<h5><a href="{{ url_for('profile', id_user=data.get_by_id(post.id_user_from).id_user) }}" class="profile-link">{{ data.get_by_id(post.id_user_from).first_name }} {{ data.get_by_id(post.id_user_from).last_name }}</a> <span class="following">following</span></h5>
										<p class="text-muted">Published a {{ post.type }} on a {{ post.date_creation.split(" ")[1] }}</p>
									</div>
									<div class="reaction">
										<a class="btn text-green" id="like{{ post.id_post }}"><i class="icon ion-thumbsup"></i> 0</a>
										<a class="btn text-red" id="dislike{{ post.id_post }}"><i class="fa fa-thumbs-down"></i> 0</a>
									</div>
									<div class="line-divider"></div>
									<div class="post-text">
										<p>{{ post.content }}</p>
									</div>
									<div class="line-divider"></div>
									{% if session.get('user_data') %}
										<div class="post-comment">
											<img src="{{ session.get('user_data').avatar }}" alt="" class="profile-photo-sm" />
											<input type="text" class="form-control" placeholder="Post a comment">
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% else %}
						<div class="post-content">
							<div class="post-container">
								<div class="post-detail">
									<div class="post-text">
										<p>No posts.</p>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{% if session.get('user_data') %}
				<div class="col-md-2 static">
				  <div id="sticky-sidebar">
					<h4 class="grey">Sarah's activity</h4>
					<div class="feed-item">
					  <div class="live-activity">
						<p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
						<p class="text-muted">5 mins ago</p>
					  </div>
					</div>
					<div class="feed-item">
					  <div class="live-activity">
						<p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
						<p class="text-muted">an hour ago</p>
					  </div>
					</div>
					<div class="feed-item">
					  <div class="live-activity">
						<p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
						<p class="text-muted">4 hours ago</p>
					  </div>
					</div>
					<div class="feed-item">
					  <div class="live-activity">
						<p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
						<p class="text-muted">a day ago</p>
					  </div>
					</div>
				  </div>
				</div>
			{% endif %}

		  </div>
		</div>
	  </div>
	</div>

{% endblock %}
